* {
  padding: 0;
  margin: 0;
}

body {
  background-color: yellow;
}

h1 {
  color: crimson;
  text-align: center;
  margin-top: 5px;
  font-size: 40px;
  text-decoration:underline;
}

li {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-left: 30px;
}

button{
  background-color:yellow;
  font-size:24px;
  color: purple;
  border: none;
}



a {
  color: purple;
  text-decoration:none;
}
